@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DEVELOPERS DEVELOPERS DEVELOPERS DEVELOPERS DEVELOPERS DEVELOPERS </h1>
    <div class="row">
        <div id="app">
           {{ message }}
        </div>        
    </div>
</div>

@section Scripts
{
<script>
    var app = new Vue({
        el:"#app",
        data: {
            message: "Hello fucking world from VueJS"
        }
    })
</script>    
}
