# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.backend.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\cgp99\Google Drive\____Decimo Semestre\Proyecto Integrador 1\Proyecto Final\collab-tag-ai\backend\.idea\.idea.backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
